[{lager, [
    {log_root, "./logs20000"},
    {crash_log, "crash.log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}]},
        {lager_logstash_backend, [
            {level, warning},
            {logstash_host, "127.0.0.1"},
            {logstash_port, 9125},
            {node_role, "game_svr_0"},
            {node_version, "1.0.0"},
            {metadata, [
                {account_token,  [{encoding, string}]},
                {client_os,      [{encoding, string}]},
                {client_version, [{encoding, string}]}
            ]}
        ]}
    ]}
]},
{gamesvr, [
    {db_usr_name, "bitgame_usr"},
    {db_usr_host, "127.0.0.1"},
    {db_usr_pass, "bitgame123"},
    {db_usr_poolsize, 2},
    {db_cfg_name, "bitgame_cfg"},
    {db_cfg_host, "127.0.0.1"},
    {db_cfg_pass, "bitgame123"},
    {db_cfg_poolsize, 1},
    {db_run_name, "bitgame_run"},
    {db_run_host, "127.0.0.1"},
    {db_run_pass, "bitgame123"},
    {db_run_poolsize, 10},
    {db_log_name, "bitgame_log"},
    {db_log_host, "127.0.0.1"},
    {db_log_pass, "bitgame123"},
    {db_log_poolsize, 10},
    {cache_host, "127.0.0.1"},
    {cache_conn_pool_size, 10}
]},
{recon_web, [
    {ip, "127.0.0.1"},
    {port, 50002}
]}
].
